
<div class="w-[70%] mx-auto mt-4">
    <h2 class="text-center text-4xl font-bold leading-snug pt-10 mb-12">Edit Post</h2>
</div>

<form action="/edit-post/<%= data._id %>?_method=PUT" method="POST" class="flex flex-col space-y-10 justify-center items-center">

    <div class="w-[40rem] flex justify-between">
        <label for="title"><b>Title</b></label>
        <input type="text" placeholder="Post title" name="title" class="text-black mr-[14rem] text-center" value="<%= data.title %>">
    </div>

    <div class="w-[40rem] flex justify-between">
        <label for="body"><b>Content</b></label>
        <textarea name="body" cols="50" rows="10" class="text-black"><%= data.body %></textarea>
    </div>

    <div class="w-[40rem] flex justify-between">
        <label for="pay"><b>Pay</b></label>
        <input value="<%= data.pay %>" type="text" placeholder="In Rupees" name="pay" class="text-black mr-[14rem] text-center">
    </div>

    <div class="w-[40rem] flex justify-between">
        <label for="email"><b>Email</b></label>
        <input value="<%= data.email %>" type="text" placeholder="ex-abc@gmail.com" name="email" class="text-black mr-[14rem] text-center">
    </div>

    <div class="w-[40rem] flex justify-between">
        <label for="venue"><b>Venue</b></label>
        <input value="<%= data.venue %>" type="text" placeholder="ex-Chennai" name="venue" class="text-black mr-[14rem] text-center">
    </div>
    
    <div>
        <input type="submit" value="Update" class="bg-green-600 text-white hover:opacity-80 px-3 py-2 font-bold rounded-xl">
    </div>

</form>